{% extends "layouts/main.html" %}

{% block pageTitle %}
Do you know your organisation or business’s energy suppliers and the numbers of your energy meters? – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="access-check">
      {{ govukRadios({
      name: "access-to-meters",
      classes: 'govuk-radios--inline',
      fieldset: {
      legend: {
        text: "Do you know your organisation or business’ energy suppliers and meter numbers?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        html: '<p class="govuk-hint">This should be meters associated with the property where the ETII eligible activity occurs.</p><p class="govuk-hint">If you can provide your energy suppliers and meter numbers, your registration will be processed more quickly.</p>'
      },
      items: [
      {
      value: "yes",
      text: "Yes"
      },
      {
      value: "no",
      text: "No"
      }
      ]
      }) }}
      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% endblock %}
