{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ businessTypes }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="what-is-the-name-of-the-organisation">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What type of organisation are you?
            </h1>
          </legend>
          <div id="contact-hint" class="govuk-hint">
            Select one option.
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            {% for option in data.businessTypeOptions %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="{{option.businessType}}" name="business-type" type="radio"
                value="{{option.businessType}}" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-radios__label" for="{{option.businessType}}">
                {{option.businessType}}
              </label>
            </div>
            {% endfor %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="other" name="business-type" type="radio" value="other"
                data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-radios__label" for="other">
                Other
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
              <div class="govuk-form-group">
                <label class="govuk-label" for="other-business-type">
                  Tell us your type of business or organisation.
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="other-business-type" name="other-business-type"
                  spellcheck="false">
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>
{% endblock %}