{% extends "layouts/main.html" %}

{% block pageTitle %}
Choose the address of your organisation or business you are registering – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<form action="who-can-we-contact">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Choose the address of your organisation or business you are registering
          </h1>
        </legend>
        <p class="govuk-hint">We found the several addresses for the post code TT1 1AB.</p>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address">
            Address
          </label>
          <select class="govuk-select" id="address" name="address">
            <option value="1 Test Street, Test Town TT1 1AB">1 Test Street, Test Town TT1 1AB</option>
            <option value="2 Test Street, Test Town TT1 1AB">2 Test Street, Test Town TT1 1AB</option>
            <option value="3 Test Street, Test Town TT1 1AB">4 Test Street, Test Town TT1 1AB</option>
            <option value="3 Test Street, Test Town TT1 1AB">3 Test Street, Test Town TT1 1AB</option>
            <option value="4 Test Street, Test Town TT1 1AB">4 Test Street, Test Town TT1 1AB</option>
            <option value="5 Test Street, Test Town TT1 1AB">5 Test Street, Test Town TT1 1AB</option>
            <option value="6 Test Street, Test Town TT1 1AB">6 Test Street, Test Town TT1 1AB</option>
            <option value="7 Test Street, Test Town TT1 1AB">7 Test Street, Test Town TT1 1AB</option>
            <option value="8 Test Street, Test Town TT1 1AB">8 Test Street, Test Town TT1 1AB</option>
            <option value="9 Test Street, Test Town TT1 1AB">9 Test Street, Test Town TT1 1AB</option>
            <option value="10 Test Street, Test Town TT1 1AB">10 Test Street, Test Town TT1 1AB</option>
            <option value="11 Test Street, Test Town TT1 1AB">11 Test Street, Test Town TT1 1AB</option>
          </select>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-bottom-4 ">
    <div class="govuk-grid-column-two-thirds">
      <a href="/enter-your-address-manually" class="govuk-link govuk-link--no-visited-state">
        My organisation or business isn’t listed 
      </a>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </div>
  </div>
</form>

{% endblock %}