{% extends "layouts/main.html" %}

{% block pageTitle %}
You can apply for the energy bill discount scheme – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      You can apply for the Energy Bill Discount Scheme for ETIIs</h1>

    <p>You will need to provide evidence to support your application and information about your energy suppliers and
      meters so we can pass on the discount.</p>
    <p>You will receive a certificate of eligibility if your application is successful.</p>
    <h2 class="govuk-heading-m">Evidence for your application</h2>
    <p>You will need to provide a letter signed by a named director or equivalent of your organisation or business that
      states:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>all the information in this application is accurate to the best of their knowledge</li>
      <li>your organisation or business is an ETII operating in one or more eligible sectors, providing relevant SIC
        codes</li>
      <li>a minimum of 50% of revenue in financial year 2022-2023 falls within the eligible sectors (local authorities should state that 50% of activities fall within the eligible sectors) </li>
      <li>a summary of how you think you meet the criteria and what evidence you have relied on to make that assessment</li>
    </ul>
    <p><a
        href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1128033/230104_ETII_List_for_gov.uk.pdf"
        class="govuk-link">A list of eligible sectors is available on GOV.UK</a></p>
    <p>You may also need to provide financial evidence such as:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>your most recent full set of end-of-year accounts - if you do not have these, upload evidence of your most recent company accounts, covering a minimum period of the most recent 6 months</li>
      <li>an Income Statement referring to the same time period as the accounts </li>
      <li>a sample of 20 sales and purchase invoices, no older than 12 months from the date of the signed declaration, which demonstrates activity that falls within an eligible sector  </li>
      <li>license or trade body membership details for regulated industries (if applicable)</li>
      <li>floor plans of the relevant property that show that 50% or more of your activities are in an eligible sector (local authorities only)</li>
    </ul>
    <p>To help with the processing of your application, you could also upload a letter signed by a chartered auditor or accountant. This should confirm that you are in an eligible sector, and that 50% or more of your sales, services or revenue are in an eligible sector.</p> 
    <h2 class="govuk-heading-m">Information about your energy suppliers</h2>
    <p>You will need to tell us:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the name of your energy suppliers</li>
      <li>your meter numbers for each supplier</li>
    </ul>
    <p>If you pay your energy suppliers directly give details of all your energy suppliers and meter numbers.</p>
    {{
    govukButton({
    text: 'Continue',
    href: 'what-is-the-name-of-the-organisation'
    }
    )
    }}
  </div>
</div>

{% endblock %}
