{% extends "layouts/main.html" %}

{% block pageTitle %}
  Cookies – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Cookies
    </h1>
    
    <p>Cookies are small files saved on your phone, tablet or computer when you visit a website.</p>
    <p>We use cookies to make the ‘Apply for the Energy Bills Discount Scheme' service work and collect information about how you use our service.</p>

    <h2 class="govuk-heading-m">
      Essential cookies
    </h2>
    <p>Essential cookies keep your information secure while you use Notify. We do not need to ask permission to use them.</p>
    <p>Name: sfdc-stream</p>
    <ul>
    <li>Purpose: Used to properly route server requests within Salesforce infrastructure for sticky sessions</li>
    <li>Expires: 3 hours</li>  
    </ul>

    

{% endblock %}
