{% extends "layouts/main.html" %}

{% block pageTitle %}
Do you pay energy suppliers directly for the energy you use? – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="direct-relationship-check">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="direct-relationship-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Do you pay energy suppliers directly for the energy you use?
            </h1>
          </legend>
          <p class="govuk-hint">
            This means that you get the energy bills directly from a supplier. You might have used a broker to set this up.
          </p>
          <p class="govuk-hint">
            If you don't pay your supplier directly, you might pay through an intermediary such as:
          </p>
          <ul class="govuk-list govuk-list--bullet govuk-hint">
            <li>a landlord</li>
            <li>a a third party energy management company</li>
            <li>the Crown Commercial Service</li>
          </ul>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="direct-relationship" name="direct-relationship" type="radio"
                value="yes">
              <label class="govuk-label govuk-radios__label" for="direct-relationship">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="direct-relationship-2" name="direct-relationship" type="radio"
                value="no">
              <label class="govuk-label govuk-radios__label" for="direct-relationship-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}