{% extends "layouts/main.html" %}

{% block pageTitle %}
Do you have meter numbers for this electricity supplier? – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="add-electricity-supplier">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="new-electricity-supplier-meters">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Do you have meter numbers for this electricity supplier?
            </h1>
          </legend>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="new-electricity-supplier-meters" name="new-electricity-supplier-meters" type="radio"
                value="yes">
              <label class="govuk-label govuk-radios__label" for="new-electricity-supplier-meters">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="new-electricity-supplier-meters-2" name="new-electricity-supplier-meters" type="radio"
                value="no">
              <label class="govuk-label govuk-radios__label" for="new-electricity-supplier-meters-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}
