{% extends "layouts/main.html" %}

{% block pageTitle %}
Do you have unique identifying electricity meter point numbers for this supplier? – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="add-electricity-supplier">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="new-electricity-supplier-meters">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Do you have unique identifying electricity meter numbers for this supplier?
            </h1>
          </legend>
          <div id="dyh-hint">
            <p class="govuk-hint">
              These will be used to help your supplier identify where the discount should be applied. For example, a Meter Point Administration Number (MPAN) or Balancing Mechanism Unit number.
            </p>
            {{ govukWarningText({
            text: "These are not meter readings or meter serial numbers. Your supplier will not be able to use these to apply the discount",
            iconFallbackText: "Warning"
            }) }}
          </div>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="new-electricity-supplier-meters" name="new-electricity-supplier-meters" type="radio"
                aria-describedby="dyh-hint" value="yes">
              <label class="govuk-label govuk-radios__label" for="new-electricity-supplier-meters">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="new-electricity-supplier-meters-2" name="new-electricity-supplier-meters" type="radio"
                aria-describedby="dyh-hint" value="no">
              <label class="govuk-label govuk-radios__label" for="new-electricity-supplier-meters-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}
