{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the registered address of the organisation or business you are applying for? – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<form action="address-lookup">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% call govukFieldset({
      legend: {
      text: "What is the registered address of the organisation or business you are applying for?",
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
      }
      }) %}
      <div class="govuk-hint">
        This will be the address registered at Companies House if applicable.
      </div>
      {{ govukInput({
      label: {
      text: "Postcode"
      },
      classes: "govuk-input--width-5",
      id: "address-postcode",
      name: "address-postcode",
      autocomplete: "postal-code"
      }) }}
      {% endcall %}
      {{ govukButton({
      text: "Continue"
      }) }}
    </div>
  </div>
</form>
{% endblock %}
