{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ data['gas-supplier'] }} meter numbers
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<form action="supplier-check">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-caption-l">Gas supplier {{ data.gasSuppliers | length }} of {{ data.gasSuppliers | length }}</div>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-3">{{ data['gas-supplier'] }}</h1>
      <div class="govuk-button-group">
        {{ govukButton({
          name: "action",
          value: "add-gas-supplier",
          classes: "govuk-button--secondary",
          text: "Add another supplier"
        }) }}
        <a href="#" class="govuk-link govuk-link--no-visited-state">Remove this supplier</a>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Meter details</h2>
      {% if data.path == 'heat-network' %}
      {% for number in data.gasSuppliers[data.gasSuppliers.length - 1].meterNumbers %}
      <h3 class="govuk-heading-s">Meter {{ loop.index }}</h3>
      <dl class="govuk-summary-list govuk-!-margin-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key meter-number">
            Meter number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ number }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change meter
            </a>
            <a class="govuk-link" href="#">
              Remove meter
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is this meter connected to a CHP that has an installed capacity of more than 5 megawatts and exports electricity to the grid?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data.gasSuppliers[data.gasSuppliers.length - 1].chp[loop.index0] | title}}
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
      </dl>
      {% endfor %}
      {% else %}
      <dl class="govuk-summary-list govuk-!-margin-bottom-6">
        {% for number in data.gasSuppliers[data.gasSuppliers.length - 1].meterNumbers %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key meter-number">
            Meter {{ loop.index }}
          </dt>
          <dd class="govuk-summary-list__value">
            {{ number }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change meter
            </a>
            <a class="govuk-link" href="#">
              Remove meter
            </a>
          </dd>
        </div>
        {% endfor %}
      </dl>
      {% endif %}
      <div class="govuk-button-group">
        {{ govukButton({
          name: "action",
          value: "add-gas-meter",
          classes: "govuk-button--secondary",
          text: "Add another meter number"
        }) }}
      </div>
      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">
      <div class="govuk-button-group">
        {{ govukButton({
          name: "action",
          value: "continue-gas",
          text: "Continue"
        }) }}
      </div>
    </div>
  </div>
</form>
{% endblock %}