{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ data['gas-supplier'] }} meter numbers
{% endblock %}

{% block content %}
<form action="supplier-check">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ data['gas-supplier'] }}</h1>
      <h2 class="govuk-heading-m">Meter details</h2>
      {% if data.path == 'heat-network' %}
      {% for number in data.gasSuppliers[data.gasSuppliers.length - 1].meterNumbers %}
      <h3 class="govuk-heading-s">Meter {{ loop.index }}</h3>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Meter number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ number }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> meter number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is this a CHP?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data.gasSuppliers[data.gasSuppliers.length - 1].chp[loop.index0] | title}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> answer to "Is this a CHP?"</span>
            </a>
          </dd>
        </div>
        {% if data.gasSuppliers[data.gasSuppliers.length - 1].chp[loop.index0] == 'yes' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does this meter supply the CHP?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data.gasSuppliers[data.gasSuppliers.length - 1].supply[loop.index0] | title}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> answer to "Does this meter supply the CHP?"</span>
            </a>
          </dd>
        </div>
        {% endif %}
        {% if data.gasSuppliers[data.gasSuppliers.length - 1].supply[loop.index0] == 'yes' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What is the installed electrical generation capacity of the CHP?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data.gasSuppliers[data.gasSuppliers.length - 1].egc[loop.index0] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> answer to "What is the installed electrical generation capacity of
                the CHP?"</span>
            </a>
          </dd>
        </div>
        {% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does this meter supply anything else besides heat generation?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data.gasSuppliers[data.gasSuppliers.length - 1].besides[loop.index0] | title}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> answer to "Does this meter supply anything else besides heat
                generation?"</span>
            </a>
          </dd>
        </div>
      </dl>
      {% endfor %}
      {% else %}
      <dl class="govuk-summary-list">
        {% for number in data.gasSuppliers[data.gasSuppliers.length - 1].meterNumbers %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Meter {{ loop.index }}
          </dt>
          <dd class="govuk-summary-list__value">
            {{ number }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        {% endfor %}
      </dl>
      {% endif %}
      <div class="govuk-button-group">
        {{ govukButton({
          name: "action",
          value: "add-gas-meter",
          classes: "govuk-button--secondary",
          text: "Add another meter number"
        }) }}
      </div>
      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8">
      <div class="govuk-button-group">
        {{ govukButton({
          name: "action",
          value: "continue-gas",
          text: "Continue"
        }) }}
        {{ govukButton({
        name: "action",
        value: "add-gas-supplier",
        classes: "govuk-button--secondary",
        text: "Add another supplier"
        }) }}
      </div>
    </div>
  </div>
</form>
{% endblock %}