{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is the installed electrical generation capacity of the CHP? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="egc-check">
        {{ govukInput({
          id: "egc-chp",
          name: "egc-chp",
          label: {
            text: "What is the installed electrical generation capacity of the CHP?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: 'Give your answer in kilowatts of electricity'
          },
          suffix: {
            text: "kWe"
          },
          classes: "govuk-input--width-5",
          spellcheck: false
        }) }}
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>

{% endblock %}
