{% extends "layouts/main.html" %}

{% block pageTitle %}
Is this meter connected to a combined heat and power plant (CHP) that has an installed capacity of more than 5 megawatts and exports electricity to the grid? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="chp-check">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          {{ govukRadios({
          name: "chp",
          classes: "govuk-radios--inline",
          fieldset: {
          legend: {
          text: "Is this meter connected to a combined heat and power plant (CHP) that has an installed capacity of more than 5 megawatts and exports electricity to the grid?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
          }
          },
          hint: {
            html: '<div id="email-hint" class="govuk-hint">
              If yes, you will need to declare this to your energy supplier if your application is successful. Details on how to do
              this will be published on GOV.UK once the Energy Bills Discount Scheme is established in regulations.
            </div>'
          },
          items: [
          {
          value: "yes",
          text: "Yes"
          },
          {
          value: "no",
          text: "No"
          }
          ]
          }) }}
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>

  </div>
</div>

{% endblock %}
