{% extends "layouts/main.html" %}

{% block pageTitle %}
Is your Heat Network powered by gas, electricity or both? {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<form action="hn-power-check">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
      name: "gas-or-electricity",
      fieldset: {
      legend: {
      text: "Is your Heat Network powered by gas, electricity or both?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
      }
      },
      items: [
      {
      value: "gas",
      text: "Gas"
      },
      {
      value: "electricity",
      text: "Electricity"
      },
      {
      value: "both",
      text: "Both gas and electricity"
      },
      {
        divider: "or"
      },
      {
        value: "other",
        text: "Something else"
      }
      ]
      }) }}
      {{ govukButton({
      text: "Continue"
      }) }}
    </div>
  </div>
</form>
{% endblock %}