{% extends "layouts/main.html" %}

{% block pageTitle %}
The Windsor Framework and state aid – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="ni-check">
      <h1 class="govuk-heading-l">The Windsor Framework and state aid</h1>

      <h2 class="govuk-heading-m">Beneficiaries based in Northern Ireland</h2>
      <p>
        If the beneficiary is incorporated and registered in Northern Ireland, European Union (EU) State aid rules will
        apply. If you are based in Northern Ireland, select 'No' at the bottom of this page.
      </p>

      <h2 class="govuk-heading-m">Beneficiaries based in Great Britain</h2>
      <p>
        In exceptional circumstances, the discount for some Great Britain based beneficiaries could in principle be
        subject to the Windsor Framework and EU State aid rules would therefore apply. However, this would only be the
        case where there is a genuine and direct link to Northern Ireland and where the discount will have a foreseeable
        and material effect on trade between Northern Ireland and the EU.
      </p>

      <p class="govuk-body">
        If this is the case, we will need to consider the Northern Ireland market impacts further
        with you. This includes:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          what ringfencing is already in place
        </li>
        <li>
          whether any additional ringfencing measures are needed to ensure that the benefit of this support does not
          pass through to Northern Ireland
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body govuk-!-font-weight-bold">
        To help identify whether this requirement applies to you, answer the following questions.
      </p>

      <ol class="govuk-list govuk-list--number">
        <li>
          If you're a Small and Medium Enterprise (as defined in Section 382 Companies House Act 2006): Based on
          your energy costs for financial year 2022 to 2023, do you expect your annual energy bill to exceed £14
          million?
        </li>

        <li>
          If you're a large company (as defined in section 465 Companies House Act 2006): Based on your energy
          costs for financial year 2022 to 2023, do you expect your annual energy bill to exceed £47 million?
        </li>
      </ol>
      <p>
        If you answered <strong>no</strong> to questions 1 and 2, the Windsor Framework does not apply. Select 'No' at
        the bottom of this page.
      </p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body govuk-!-font-weight-bold">
        If you answered yes to questions 1 or 2, answer question 3.
      </p>

      <ol class="govuk-list govuk-list--number" start="3">
        <li>
          Does your business have more than 10% share of the market in Northern Ireland?
        </li>
      </ol>
      <p>
        If you answered <strong>no</strong> to question 3, the Windsor Framework does not apply. Select 'No' at the
        bottom of this page.
      </p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body govuk-!-font-weight-bold">
        If you answered yes to question 3, answer questions 4 and 5.
      </p>

      <ol class="govuk-list govuk-list--number" start="4">
        <li>
          Does your business have locations in Northern Ireland, or are you part of a corporate group with locations in
          Northern Ireland?
        </li>
        <li>
          If your business is solely Great Britain based but you sell your goods or electricity into Northern
          Ireland, are those goods sold below market price, or sold at different market conditions?
        </li>
      </ol>
      <p>If you answered <strong>no</strong> to questions 4 or 5, the Windsor Framework does not apply. Select 'No' at
        the bottom of the
        page.</p>

      <p>
        If you answered <strong>yes</strong> or think the answer might be yes to question 4 or 5,
        the Windsor Framework may apply.
        Select 'Yes' at the bottom of the page and we will contact you separately.
      </p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



      <p><strong>Based on your answers to the questions above, might the Windsor Framework apply to you?</strong></p>




      {{ govukRadios({
      classes: "govuk-radios--inline",
      name: "ni-protocol",
      fieldset: {
      legend: {

      classes: "govuk-fieldset__legend--s"
      }
      },
      items: [
      {
      value: "yes",
      text: "Yes"
      },
      {
      value: "no",
      text: "No"
      }
      ]
      }) }}

      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>

  </div>
</div>

{% endblock %}