{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the heat supplier's email address? – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <form action="what-is-your-crn">
        <h1 class="govuk-heading-l">
          <label class="govuk-label govuk-label--l" for="email">
            What is the heat supplier's email address?
        </h1>
        </label>
        <div id="email-hint" class="govuk-hint">
          This should be a generic organisation email address, different to the named contact email address you provided
          earlier. We will use this if we cannot reach the named contact person.
        </div>
        <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint"
          autocomplete="email">
    </div>

    <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}
