{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the postcode of the heat / hot water supplier? – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="organisation-email-address">
    <div class="govuk-form-group">
    <h1 class="govuk-heading-l">
    <label class="govuk-label govuk-label--l" for="address-postcode">
      What is the postcode of the heat / hot water supplier? 
    </label>
    </h1>
      <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
    </div>
    <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}