{% extends "layouts/main.html" %}

{% block pageTitle %}
Privacy notice – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Energy Bill Discount Scheme (EBDS) Privacy Notice
    </h1>

    <p>
      This notice sets out how we will use your personal data, and your rights. It is made under Articles 13 and 14 of the UK
      General Data Protection Regulation (UK GDPR).
    </p>

    <h2 class="govuk-heading-m">
      Your data
    </h2>

    <h3 class="govuk-heading-s">
      The data
    </h3>

    <p>
      We will process the following personal data provided by the individual submitting the application:
    </p>

    <p>
      Name, telephone number and email address of the individual submitting the application and the relationship of that individual to the organisation. The name of the Director (or the qualifying representative) of the applicant company. 
    </p>

    <p>
      We will also process personal data of the individual named in relation to the ETII, some of which includes business addresses, phone numbers and email addresses to enable auto verification, received from the following sources:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Companies House</li>
      <li>Energy Intensive Industries (EII) Scheme</li>
      <li>Arts Council database</li>
      <li>The list of higher education providers</li>
      <li>List of Society of College, National and University Libraries (SCONUL) members</li>
      <li>National Archives</li>
      <li>Find an Archive (FAA) list</li>
      <li>Arts Council database Accredited Museums</li>
      <li>Mapping museums project</li>
      <li>GB botanical gardens list</li>
      <li>GB Zoo Aquarium list</li>
    </ul>
    <p>If you are applying on behalf of an ETII or Heat Network that does not have a direct relationship with its energy supplier(s), we will ask for the details [(name and email address)] of a contact at your intermediary provider, i.e. that is the provider who pays the energy supplier to enable the discount to be applied. Depending on the contact details provided, these may constitute personal data.</p> 

    <h3 class="govuk-heading-s">
      Purpose
    </h3>
    <p>
      The purposes for which we are processing your personal data is:
    </p>

    <p>
      We are processing your personal data for the purposes of the verification of the ETII or Heat Network status of the
      organisation on behalf of which you are submitting an application.
    </p>
    <p>Data from applications will also be processed to determine which heat suppliers have not registered for their eligible networks and may be in breach of the EBDS regulations. None of this will be personal data.</p> 
    <p>Data may be used to evaluate the scheme to understand its impact and to inform future government policy.</p>

    <h3 class="govuk-heading-s">
      Legal basis of processing
    </h3>

    <p>
      The legal basis for processing your personal data is that processing is necessary for the performance of a task carried
      out in the public interest and in the exercise of official authority vested in the Secretary of State for Energy
      Security and Net Zero.
    </p>

    <p>
      The Department for Energy Security and Net Zero (DESNZ) processes your personal data for the purposes of administering
      the EBDS scheme to which you or your organisation are applying. The DESNZ processes your personal data as it is
      necessary for the performance of the application process.
    </p>

    <h3 class="govuk-heading-s">
      Recipients
    </h3>

    <p>Your personal data will be shared by us with contracted providers to manage the appeal and verification process.  Personal data may also be shared with our contact centre provider Hinduja Global Solutions (HGS) and with our technology supplier Tecknuovo for the purpose of their provision of services to us.</p>
    
      <p>Data relevant to administering the discount will be accessed / shared with restricted / controlled access, by the Energy Suppliers who are responsible for making the EBDS payments to [the individuals/consumers].</p> 
        <p>We may share your data if we are required to do so by law, for example by court order or to prevent fraud or other crime.
    </p>
    <p>The Office for Product Safety and Standards (OPSS) will be performing enforcement action under EBDS. They will be evaluating the total list of EBDS heat network registrations and reconciling this against existing Heat Network Metering and Billing data to determine which heat suppliers have not registered for their eligible networks and may be in breach of the EBDS regulations. OPSS will also carry out checks to ensure all networks have notified them under the Heat Networks Metering and Billing Regulations. OPSS may use the personal data identified in this notice for these purposes. OPSS may also share personal data with Market Surveillance Authorities, Enforcement Authorities and the Scottish Government.</p> 
    <p>Personal data from Heat Network applications will be shared with The Energy Ombudsman (EO) and the Consumer Council for Northern Ireland (CCNI) for the purposes of complaints investigation and resolution service in GB and NI for customers on heat networks..</p>
    <p>Personal Data may also be shared with the Office of National Statistics (ONS) for ONS reporting.</p>
    <p>If you are applying on behalf of an ETII or Heat Network that pays for energy through an intermediary, personal data from applications will be shared with the intermediary to enable the EBDS discount to be applied.</p>
    <p>We may share your name, address and phone number with a contracted provider to contact you to conduct research and evaluation about the service so we can deliver the scheme effectively and analyse the impact of the scheme. Any research is voluntary, and you would have the right to withdraw at any time using the contact details provided by the contracted provider at the time of the research request.</p>
    <h3 class="govuk-heading-s">
      Retention
    </h3>

    <p>
      We will only keep your personal data for as long as required to support the delivery, evaluation and scrutiny of the
      service.
    </p>
    <p>
     EBDS will store data entered as you complete this application and retain this until 30 June 2024. During this time, it will be accessible by the DESNZ and our technology supplier (Tecknuovo Ltd) and our contact centre provider (Hinduja Global Services Ltd (HGS) may have access to this information up to 30 June 2024 to enable provision of support to you if you encounter any issues submitting your application.
    </p>
    <p>
   Application data will also be securely held and then deleted no later than 7 years by DESNZ in line with departmental policy for the audit of financial data.   
    </p>
    <p>DESNZ will store data from uncompleted applications until 20th June 2024 for evaluation purposes. Data from uncompleted applications will only be available for HGS to view for 14 days.</p>
    <p>The OPSS retain personal information for the duration of the regulation activity, or other purpose, and normally for 12 months afterwards. The OPSS will retain it beyond this period only when required to do so by a legal obligation.</p>



    <h3 class="govuk-heading-s">
      Automated decision making
    </h3>

    <p>
      No automated decision making will be used that produces legal effects concerning, or similarly significantly affecting the applicant.
    </p>

    <h3 class="govuk-heading-s">
      Where personal data has not been obtained from the data subject
    </h3>

    <p>
      Your personal data may have been obtained by us from Company House publicly available data.
    </p>

    <h2 class="govuk-heading-m">
      Your rights
    </h2>

    <p>
      You have the right to request information about how your personal data are processed, and to request a copy of that
      personal data.
    </p>

    <p>
      You have the right to request that any inaccuracies in your personal data are rectified without delay.
    </p>

    <p>
      You have the right to request that any incomplete personal data are completed, including by means of a supplementary
      statement.
    </p>

    <p>
      You have the right to request that your personal data are erased if there is no longer a justification for them to be
      processed.
    </p>

    <p>
      You have the right in certain circumstances (for example, where accuracy is contested) to request that the processing of<p>
      your personal data is restricted.
    </p>

    <p>
      You have the right to object to the processing of your personal data where it is processed for direct marketing
      purposes.
    </p>

    <p>
      You have the right to object to the processing of your personal data.
    </p>

    <h2 class="govuk-heading-m">
      International transfers
    </h2>

    <p>
      Your personal data will be processed in the UK.
    </p>

    <p>
      Your personal data will not be processed in the European Economic Area (EEA), or by an international organisation.
    </p>

    <h2 class="govuk-heading-m">
      Complaints
    </h2>

    <p>
      If you consider that your personal data has been misused or mishandled, you may make a complaint to the Information Commissioner, who is a UK independent regulator. The Information Commissioner can be contacted at:  
    </p>

    <div class="govspeak">
      <div class="contact">
        <p>
          Information Commissioner's Office<br>
          Wycliffe House<br>
          Water Lane<br>
          Wilmslow<br>
          Cheshire<br>
          SK9 5AF<br>
          Telephone: <a href="tel:+4403031231113">0303 123 1113</a><br>
          Email: <a href="mailto:casework@ico.org.uk">casework@ico.org.uk</a>
        </p>
      </div>
    </div>

    <p>
      Any complaint to the Information Commissioner is without prejudice to your right to seek redress through the courts.
    </p>

    <h2 class="govuk-heading-m">
      Contact details
    </h2>

    <p>
      The data controller for your personal data is the Department for Energy Security and Net Zero (DESNZ). You can contact
      the DESNZ Data Protection Officer at:
    </p>

    <div class="govspeak">
      <div class="contact">
        <p>
          DESNZ Data Protection Officer<br>
          Department for Energy Security and Net Zero<br>
          1 Victoria Street<br>
          London<br>
          SW1H 0ET
          Email: <a href="mailto:dataprotection@beis.gov.uk">dataprotection@beis.gov.uk</a>
        </p>
      </div>
    </div>
  </div>
</div>


{% endblock %}
