{% extends "layouts/main.html" %}

{% block pageTitle %}
You will need to share your certificate with the people who manage your organisation’s energy so they can get the discount – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      You will need to share your certificate with the people who manage your organisation’s energy so they can get the discount
    </h1>

    <p>If you’re not responsible for your meter… </p>
      {{
        govukButton({
          'text': 'Continue',
          'href': 'why-do-you-not-have-access'
        })
      }}

  </div>
</div>

{% endblock %}