{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      You can still apply if...
    </h1>

    <p>You can still apply for an energy discount, however you will need to share your certificate with your supplier
      via your landlord/ intermediary to ensure your energy discount is applied. </p>


  </div>
</div>

{% endblock %}