{% extends "layouts/main.html" %}

{% block pageTitle %}
If you do not know your energy suppliers and meter numbers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      If you do not know your energy suppliers and meter numbers
    </h1>

    <p>On the next page, you will be asked why you do not know your energy suppliers and meter numbers.</p>

    <p>If you pay your energy suppliers directly, you should go back to the previous page to give details of all your energy 
  suppliers and meter numbers.</p>

    <h2 class="govuk-heading-m"If you pay for energy through an intermediary energy provider</h2>

    <p> If you do not know these details because your organisation or business pays for energy through an 
      intermediary energy provider, you will need to share your certificate of eligibility with your energy 
      provider after you have registered.</p>

    <p>You need to give details of your intermediary provider on the next page. </p>
      {{
        govukButton({
          'text': 'Continue',
          'href': 'why-do-you-not-have-access'
        })
      }}

  </div>
</div>

{% endblock %}
