{% extends "layouts/main.html" %}

{% block pageTitle %}
You can register for the Energy Bill Discount Scheme for ETIIs – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      You can register for the Energy Bill Discount Scheme for ETIIs
    </h1>
    <p>
      You will need to provide evidence to support your registration and information about your energy suppliers and meters so we can pass on the discount.
    </p>

    <h2 class="govuk-heading-m">
      Evidence for your registration
    </h2>
    
    <p>
      You will need to provide a letter signed by a named director or equivalent of your organisation or business that states:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>all the information in this registration is accurate to the best of their knowledge</li>
      <li>your organisation or business is an ETII operating in one or more eligible sectors, providing relevant SIC codes</li>
      <li>a minimum of 50% of revenue falls within the eligible sectors</li>
      <li>a summary of why you think you meet the above criteria and what evidence you have relied upon to make that assessment</li>
    </ul>
    
    <p>
      <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1128033/230104_ETII_List_for_gov.uk.pdf">A list of eligible sectors is available on GOV.UK</a>
    </p>
    
    <h2 class="govuk-heading-m">
      Information about your energy suppliers
    </h2>
    
    <p>
      You will need to tell us:
    </p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>the name of your energy suppliers</li>
      <li>your meter numbers for each supplier</li>
    </ul>
    
    <p>
      If you pay your energy suppliers directly, give details of all your energy suppliers and meter numbers.
    </p>
    
    <p>
      If you pay for your energy through an intermediary provider and do not know your suppliers or meter numbers, you will need to share your eligibility certificate with your intermediary provider.
    </p>
    {{
      govukButton({
        text: 'Continue',
        href: 'who-can-we-contact'
      }
      )
    }}
  </div>
</div>

{% endblock %}
