{% extends "layouts/main.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{{ govukHeader({
serviceName: serviceName
}
) }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {% if serviceName %} {{ serviceName }} {% endif %}
    </h1>

    <p class="govuk-body-s">Contents:</p>

    <ul class="govuk-list">
      <li class="govuk-body-s">
        <a class="govuk-link govuk-link--no-visited-state" href="#who-should-apply">Who should apply</a>
      </li>
      <li class="govuk-body-s">
        <a class="govuk-link govuk-link--no-visited-state" href="#who-cannot-apply">Who cannot apply</a>
      </li>
      <li class="govuk-body-s">
        <a class="govuk-link govuk-link--no-visited-state" href="#what-you-need-to-know">What you need to know</a>
      </li>
      <li class="govuk-body-s">
        <a class="govuk-link govuk-link--no-visited-state" href="#other-ways-to-apply">Other ways to apply</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p>Use this service to apply for energy bills discounts for your business.</p>

    <h2 id="who-should-apply" class="govuk-heading-m">Who should apply</h2>

    <p class="govuk-body">You can apply for a discount if:

    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>eligibility reason here</li>
    </ul>


    <h2 id="who-cannot-apply" class="govuk-heading-m">Who cannot apply</h2>

    <p>You cannot apply for a discount if:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>ineligibility reason here</li>
    </ul>


    <h2 class="govuk-heading-m">Check your eligibility and apply online</h2>

    <p>You will need:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>what you'll need</li>
      <li>what you'll need</li>
    </ul>

    <a href="#" role="button" draggable="false"
      class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
        viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg>
    </a>

    <h2 id="what-you-need-to-know" class="govuk-heading-m">What you need to know</h2>

    <p>Stuff about timelines and processes here</p>

    <h2 id="other-ways-to-apply" class="govuk-heading-m">Other ways to apply</h2>

    <p>If you cannot apply online, phone the EBDS customer support team.</p>

    <div class="govspeak">
      <div class="contact">
        <p>
          EBDS customer support team
          <br>
          Telephone
          <a href="tel:+44900111111">xxxx xxx xxxx</a>
          <br>
          Monday to Friday, 8am to 6pm
          <br>
          Saturday, 9am to 1pm
          <br>
          <a href="#call-charges">Find out about call charges</a>
        </p>
      </div>
    </div>

  </div>
  {% endblock %}

  <footer class="govuk-footer " role="contentinfo">
    <div class="govuk-width-container ">
      <div class="govuk-footer__meta">
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
            <path fill="currentColor"
              d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145" />
          </svg>
          <span class="govuk-footer__licence-description">
            All content is available under the
            <a class="govuk-footer__link"
              href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open
              Government Licence v3.0</a>, except where otherwise stated
          </span>
        </div>
        <div class="govuk-footer__meta-item">
          <a class="govuk-footer__link govuk-footer__copyright-logo"
            href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">©
            Crown copyright</a>
        </div>
      </div>
    </div>
  </footer>