{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block header %}
{{ govukHeader({
serviceName: serviceName
}
) }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {% if serviceName %} {{ serviceName }} for heat networks {% endif %}
    </h1>

    <p class="govuk-body-s">Contents:</p>

    <ul class="govuk-list">
      <li class="govuk-body-s">
        <a class="govuk-link govuk-link--no-visited-state" href="#eligible-heat-networks">Eligible heat networks</a>
      </li>
      <li class="govuk-body-s">
        <a class="govuk-link govuk-link--no-visited-state" href="#what-is-not-eligible">What is not eligible</a>
      </li>
      <li class="govuk-body-s">
        <a class="govuk-link govuk-link--no-visited-state" href="#before-you-start">Before you start</a>
      </li>
      <li class="govuk-body-s">
        <a class="govuk-link govuk-link--no-visited-state" href="#check-your-eligibility">Check your eligibility and register online</a>
      </li>
      <li class="govuk-body-s">
        <a class="govuk-link govuk-link--no-visited-state" href="#what-you-need-to-know">What you need to know</a>
      </li>
      <li class="govuk-body-s">
        <a class="govuk-link govuk-link--no-visited-state" href="#apply-by-phone">Apply by phone</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p>
      Use this service if you are a heat network supplier in the UK who needs to register for the energy bills discount scheme
      support. Heat network suppliers must register for the scheme, even if their current contract prevents them from getting
      the discount.
    </p>
    
    <h2 class="govuk-heading-m" id="eligible-heat-networks">
      Eligible heat networks 
    </h2>
    
    <p>
      A heat network may be eligible for the discount if it: 
    </p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>is a heat network as defined in the Energy Bills Discount Scheme regulations</li>
      <li>is supplied by a licenced energy supplier</li>
      <li>supplies one or more domestic customers</li>
      <li>uses gas or electricity for producing heat</li>
    </ul>
    
    <p>
      All meter points supplying the energy centre for the heat network are eligible for support.
    </p>
    
    <p>
      Heat suppliers must also register under the redress scheme, managed by the Energy Ombudsman. Learn more <a href="https://www.ombudsman-services.org/sectors/heat-networks" class="govuk-link">about the redress scheme</a>.
    </p>
  
    <p>
      You can only register for one heat network at a time.
    </p>
    
    <h2 class="govuk-heading-m" id="what-is-not-eligible">
      What is not eligible 
    </h2>
    
    {{
      govukInsetText(
        {
          html: 'This scheme is not open to households that are on heat networks. Your supplier must apply and pass-through any discount to you. Find out <a href="https://www.gov.uk/government/publications/pass-through-requirements-for-energy-price-support-provided-to-intermediaries" class="govuk-link">what to do if you think you should have received a discount, but haven’t</a>. Read about all <a href="https://helpforhouseholds.campaign.gov.uk/help-with-your-bills/" class="govuk-link">energy bill and cost of living support</a>.'
        }
      )
    }}

    <p>
      If you are a heat network supplier, the discount will not apply to:
    </p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>gas used to generate electricity to export back to the grid, including if it has been stored first</li>
      <li>gas or electricity made available to customers in the Republic of Ireland</li>
    </ul>
    
    <h2 class="govuk-heading-m" id="before-you-start">
      Before you start 
    </h2>
    
    <p>
      You will need:  
    </p>
    
    
    <ul class="govuk-list govuk-list--bullet">
      <li>contact details of the applicant (including email address and phone number)</li>
      <li>name and address of the heat supplier</li>
      <li>postcode of the primary energy centre</li>
      <li>supplier name and meter numbers for eligible meters at that heat network</li>
      <li>completed declaration document signed by one of the following:</li>
      <ul class="govuk-list govuk-list--bullet">
        <li>a named director of the heat supplier  </li>
        <li>(if not a company) a named person approved by the Secretary of State for the purpose of making such a declaration </li>
        <li>(if not a company) the heat supplier themself if a person </li>
      </ul>
    </ul>
    
      {{ govukInsetText({
      text: "Providing your supplier name and meter numbers during registration will reduce the time it takes to receive your discount."
      }) }}
    
    
    <h2 class="govuk-heading-m" id="check-your-eligibility">
      Check your eligibility and register online 
    </h2>
    
    {{ govukWarningText({
      text: 'You will need about XX minutes to complete this form. Your application must be filled out in one session. You cannot save this form and return to it later.'
    })}}

    {{
      govukButton({
        text: 'Start now',
        href: 'registering-for-an-etii-or-heat-network',
        isStartButton: true
      })
    }}
    
    <h2 class="govuk-heading-m" id="what-you-need-to-know">
      What you need to know
    </h2>
    
    <p>
      After you apply, your registration details and related evidence will be assessed to determine if you should receive the discount.
    </p>
    
    <p>
      You’ll be told about this decision by email. You should get a response within X weeks.
    </p>
    
    <p>
      If you’re eligible, a qualifying heat supplier certificate will be emailed to you. This will include information on
      steps you may need to take to get the discount. 
    </p>
    
    {{ govukWarningText({
      html: 'Heat suppliers must pass on the discount to their domestic customers. Read more about the <a href="https://helpforhouseholds.campaign.gov.uk/help-with-your-bills/" class="govuk-link">pass-through requirements</a>.'
    }) }}
    
    <h2 class="govuk-heading-m" id="apply-by-phone">
      Apply by phone
    </h2>
    
    <p>
      If you cannot apply online, phone the EBDS customer support team.
    </p>
    <div class="govspeak">
      <div class="contact">
        <p>
          EBDS customer support team
          <br>
          Telephone
          <a href="tel:+4403004005251">030 0400 5251</a>
          <br>
          Monday to Friday, 8am to 6pm
          <br>
          Saturday, 9am to 1pm
          <br>
          <a href="#call-charges">Find out about call charges</a>
        </p>
      </div>
    </div>

  </div>
  {% endblock %}

  <footer class="govuk-footer " role="contentinfo">
    <div class="govuk-width-container ">
      <div class="govuk-footer__meta">
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
            <path fill="currentColor"
              d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145" />
          </svg>
          <span class="govuk-footer__licence-description">
            All content is available under the
            <a class="govuk-footer__link"
              href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open
              Government Licence v3.0</a>, except where otherwise stated
          </span>
        </div>
        <div class="govuk-footer__meta-item">
          <a class="govuk-footer__link govuk-footer__copyright-logo"
            href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">©
            Crown copyright</a>
        </div>
      </div>
    </div>
  </footer>