{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter an electricity meter point number for this supplier – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="add-electricity-meter">
        <div class="govuk-form-group">
          <div class="govuk-caption-l">{{ data['electricity-supplier'] }} meter {{ data.electricitySuppliers[data.electricitySuppliers.length -1].meterNumbers.length + 1 }} of {{ data.electricitySuppliers[data.electricitySuppliers.length -1].meterNumbers.length + 1 }}</div>
          <h1 class="govuk-heading-l">
            Enter an electricity meter point number (MPAN or MPRN) for this supplier
          </h1>
          {% if data.path == 'heat-network' %}
          <p class="govuk-hint">
            This should be meter point numbers providing the energy centre only.
          </p>
          {% endif %}
          <p class="govuk-hint">
            Enter the Meter Point Administration Number (MPAN) if you’re in Great Britain. Enter the Meter Point Reference Number (MPRN) in Northern Ireland. 
          </p>
          <p class="govuk-hint">
            You can find your MPAN or MPRN on the bill from your energy supplier:</p> 
          <li>
            <ul>MPANs start with 'S' are are 21 digits long - only enter the final 13 digits</ul>
            <ul>MPRNs are 11 digit numbers starting with 81</ul>
          </li>
          <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Do not enter a meter reading or meter serial number. Your supplier will not be able to apply the discount.
  </strong>
</div>
          <label class="govuk-label" for="meter-number">
            What is the MPAN or MPRN of the electricity meter?
          </label>
          <input class="govuk-input govuk-input--width-10" id="meter-number" name="meter-number" type="text">
          <input type="hidden" name="currently-entering" value="electricity">
        </div>
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>

{% endblock %}
