{% extends "layouts/main.html" %}

{% block pageTitle %}
{% if nsc %}
NSC-specific electricity meter question here
{% else %}
Enter a electricity meter point number for this supplier
{% endif %} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="add-electricity-meter">
        <div class="govuk-form-group">
          <div class="govuk-caption-l">{{ data['electricity-supplier'] }} meter {{ data.electricitySuppliers[data.electricitySuppliers.length -1].meterNumbers.length + 1 }} of {{ data.electricitySuppliers[data.electricitySuppliers.length -1].meterNumbers.length + 1 }}</div>
          {% if nsc %}
            <!-- NSC-specific content starts here 👇 -->
            <h1 class="govuk-heading-l">
              Enter an electricity meter number for this supplier
            </h1>
            <div id="electricity-meter-hint">
              <p class="govuk-hint">
                This is a unique identifying number that helps your supplier identify where to apply the discount. This can include:</p>
                              <ul class="govuk-list govuk-list--bullet govuk-hint">
                <li>a Meter Point Administration Number (in Great Britain)</li>
                <li>a Meter Point Reference Number (in Northern Ireland)</li>
                <li>a Balancing Mechanism Unit number</li>
                <li>a customer reference number</li>
              </ul>
              <p class="govuk-hint">
                You should find this number on the bill from your energy supplier.
              </p>
              {{ govukWarningText({
              text: "Do not enter a meter reading or meter serial number",
              iconFallbackText: "Warning"
              }) }}
            </div>
            <label class="govuk-label" for="meter-number">
              What is your unique identifying meter number?
            </label>
            <!-- NSC-specific content ends here 👆 -->
            {% else %}
            <!-- Standard content starts here 👇 -->
            <h1 class="govuk-heading-l">
              Enter an electricity meter point number (MPAN or MPRN) for this supplier
            </h1>
            {% if data.path == 'heat-network' %}
            <p class="govuk-hint">
              This should be meter point numbers providing the energy centre only.
            </p>
            {% endif %}
            <p class="govuk-hint">
              Enter the Meter Point Administration Number (MPAN) if you’re in Great Britain. Enter the Meter Point Reference Number (MPRN) in Northern Ireland. 
            </p>
            <p class="govuk-hint">
              You can find your MPAN or MPRN on the bill from your energy supplier:
            </p> 
            <ul class="govuk-list govuk-list--bullet govuk-hint">
              <li>MPANs start with 'S' and are 21 digits long - only enter the final 13 digits</li>
              <li>MPRNs are 11 digit numbers starting with 81</li>
            </ul>
            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                Do not enter a meter reading or meter serial number. Your supplier will not be able to apply the discount.
              </strong>
            </div>
            <label class="govuk-label" for="meter-number">
              What is the MPAN or MPRN of the electricity meter?
            </label>
            <!-- Standard content ends here 👆 -->
          {% endif %}
          <input class="govuk-input govuk-input--width-10" id="meter-number" name="meter-number" type="text">
          <input type="hidden" name="currently-entering" value="electricity">
        </div>
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>

{% endblock %}
