{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the phone number of the named contact for this application? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

{% set nextPage %}
{% if data.path == 'heat-network' %}
business-name-of-heat-supplier-applying
{% else %}
are-you-applying-for-gas-or-electricity
{% endif %}
{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <form action="{{nextPage}}">
        <h1 class="govuk-heading-l">
          <label class="govuk-label govuk-label--l" for="telephone-number">
            What is the phone number of the named contact for this application?
          </label>
        </h1>
        <div id="telephone-number-hint" class="govuk-hint">
          Enter a UK phone number. Include an area code for landline numbers, such as 03004005251. We will only use this to contact them about this application.
        </div>
        <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="tel"
          aria-describedby="telephone-number-hint" autocomplete="tel">
    </div>
    <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% endblock %}
