{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter a gas meter point number for this supplier – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="add-gas-meter">
        <div class="govuk-form-group">
          <div class="govuk-caption-l">{{ data['gas-supplier'] }} meter {{ data.gasSuppliers[data.gasSuppliers.length -1].meterNumbers.length + 1 }} of {{ data.gasSuppliers[data.gasSuppliers.length -1].meterNumbers.length + 1 }}</div>
          {% if nsc %}
          <!-- NSC-specific content starts here 👇 -->
            <h1 class="govuk-heading-l">
              Enter a gas meter point number for this supplier
            </h1>
            <div id="gas-meter-hint">
              <p class="govuk-hint">
                Most gas meters have a Meter Point Reference Number (MPRN) in Great Britain or a Supply Meter Point (SMP) number in Northern Ireland.
              </p>
              <p class="govuk-hint">
                You can find your MPRN or SMP on the bill from your energy supplier. It is a number between 6 and 10 digits long.
              </p>
              <p class="govuk-hint">
                You might also have a:
              </p>
              <ul class="govuk-hint govuk-list govuk-list--bullet">
                <li>Balancing Mechanism Unit number</li>
                <li>something else</li>
              </ul>
              {{ govukWarningText({
              text: "Do not enter a meter reading or meter serial number. Your supplier will not be able to apply the discount",
              iconFallbackText: "Warning"
              }) }}
            </div>
          <label class="govuk-label" for="meter-number">
            What is your meter number?
          </label>
          <!-- NSC-specific content ends here 👆 -->
          {% else %}
          <!-- Standard content starts here 👇 -->
          <h1 class="govuk-heading-l">
            Enter a gas meter point number (MPRN or SMP) for this supplier
          </h1>
          <div id="gas-meter-hint">
            {% if data.path == 'heat-network' %}
            <p class="govuk-hint">
              This should be meter numbers providing the energy centre only.
            </p>
            {% endif %}
            <p class="govuk-hint">
              Enter the Meter Point Reference Number (MPRN) if you’re in Great Britain. Enter the Supply Meter Point (SMP) number in Northern Ireland. 
            </p>
            <p class="govuk-hint">
              You can find your MPRN or SMP on the bill from your energy supplier. It is a number between 6 and 10 digits long.  
            </p>
            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                Do not enter a meter reading or meter serial number. Your supplier will not be able to apply the discount.
              </strong>
            </div>
          </div>
          <label class="govuk-label" for="meter-number">
            What is the MPRN or SMP of the gas meter?
          </label>
          <!-- Standard content ends here 👆 -->
          {% endif %}
          <input class="govuk-input govuk-input--width-10" id="meter-number" aria-describedby="gas-meter-hint" name="meter-number" type="text">
          <input type="hidden" name="currently-entering" value="gas">
        </div>
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>

{% endblock %}
