{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the name of the organisation applying for this discount? – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="find-your-address">
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="organisation-name">
          What is the name of the organisation applying for this discount?
        </label>
      </h1>
      <input class="govuk-input" id="organisation-name" name="organisation-name" type="text">
    </div>

    <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}