{% extends "layouts/main.html" %}

{% block pageTitle %}
Who can we contact about this application? – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="what-is-your-contact-email">
      <div class="govuk-form-group">
        <h1>
          <label class="govuk-label govuk-label--l" for="full-name">
            Who can we contact about this application?
          </label>
        </h1>
        <div id="contact-hint">
          <p class="govuk-hint">Enter the full name of the person we can contact about this application.</p>
          <p class="govuk-hint">They should have authority to act on behalf of the organisation or business. We might 
            need to contact them about the financial and energy supplier information submitted as part of this 
            application.  </p>
        </div>
        <input class="govuk-input" id="full-name" name="full-name" type="text" spellcheck="false" autocomplete="name" aria-describedby="contact-hint">
      </div>
      {{
      govukButton(
      {
      text: 'Continue'
      }
      )
      }}
    </form>
  </div>
</div>
{% endblock %}
