{% extends "layouts/main.html" %}

{% block pageTitle %}
Tell us why you do not have access to your meters – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="no-access-reason-check" method="post">
      {{ govukRadios({
        name: "no-access-reason",
        fieldset: {
          legend: {
            text: "Tell us why you do not have access to your meters",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "intermediary",
            text: "An intermediary handles our energy provision"
          },
          {
            value: "cannot-find",
            text: "I cannot find our meter numbers"
          }
        ]
      }) }}
      {{ govukButton({
        text: 'Continue'
      }) }}
    </form>

  </div>
</div>

{% endblock %}