{% extends "layouts/main.html" %}

{% block pageTitle %}
You need to provide evidence of eligibility
{% endblock %}

{% block beforeContent %}

<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>


{% endblock %}

{% block content %}
{% if not data.error %}
{% if data['evidence'] | length > 0 %}
{% set heading %}
File uploaded
{% endset %}
{% set message %}
<p>
  Uploaded <strong>{{ data['evidence'] }}</strong>.
</p>
<p>
  <a class="govuk-notification-banner__link" href="#evidence">Upload another file.</a>
</p>
{% endset %}
{% endif %}
{% endif %}

{% if data.removed %}
{% set heading %}
File removed
{% endset %}
{% set message %}
<p>Removed <strong>{{ data.removed }}</strong></p>
{% endset %}
{% endif %}
{% if message %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
      aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          {{ heading | safe }}
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        {{ message | safe }}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% if data.error %}
{{ govukErrorSummary({
titleText: "There is a problem",
errorList: [
{
text: "Choose a file to upload",
href: "#evidence"
}
]
}) }}
{% endif %}

{% set declarationLetterReqs %}
  <p>You must upload a letter signed by a named director or equivalent of your organisation or business that states that:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>all the information in this registration is accurate to the best of their knowledge</li>
    <li>your organisation or business is an ETII operating in one or more eligible sectors, providing relevant SIC codes
    </li>
    <li>a minimum of 50% of revenue falls within the eligible sectors</li>
    <li>a summary of why you think you meet the above criteria and what evidence you have relied upon to make that
      assessment</li>
  </ul>
  <p>This should be in PDF format</p>
  <p><a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1128033/230104_ETII_List_for_gov.uk.pdf" class="govuk-link">A list of eligible sectors and SIC codes is available on GOV.UK</a></p>
{% endset %}

{% set multipleDocumentsReqs %}
<h2 class="govuk-heading-m">
  Your documents
</h2>
<p>Your documents must be:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>no more than 10MB</li>
  <li>in .pdf, .jpeg, .png, .doc, .docx, .xls, .xlsx or .csv format</li>
</ul>
{% endset %}

{% set meterNumberTemplateReqs %}
<h2 class="govuk-heading-m">
  Upload your energy suppliers and meter numbers
</h2>
<p>
  You should upload your energy suppliers and meter numbers if you are providing them using the template (opens in new window).
</p>
<p>
  This must be in .xls, .xlsx or .csv format.
</p>
{% endset %}

<form action="upload-check">
  <input type="hidden" name="evidence-provided" value="yes">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data.path == 'heat-network' %}
        <h1 class="govuk-heading-l">
          You need to provide evidence that you are eligible
        </h1>
      {% else %}
        {% if data.crn == '12345678' %}
        <h1 class="govuk-heading-l">
          You need to provide evidence that you are eligible
        </h1>
        {% else %}
        <h1 class="govuk-heading-l">
          You need to provide evidence of eligibility
        </h1>
        {% endif %}
      {% endif %}
      {% if data.path == 'heat-network' %}
      <p>We need proof that your heat network is eligible for this discount.</p>
      <h2 class="govuk-heading-m">
        Signed declaration letter
      </h2>
      <p>You must upload a letter signed by a named director or equivalent of your organisation or business that states that:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>all the information in this registration is accurate to the best of their knowledge</li>
      </ul>
      <p><a class="govuk-link" href="#">Use the PDF template provided here</a></p>
      <h2 class="govuk-heading-m">
        Evidence that you are a domestic heat network supplier
      </h2>
      <p>You must upload documents that prove a contractual relationship between the heat supplier and its domestic customers.</p>
      <p>This might include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Domestic Heat Supply Contract</li>
        <li>Residential Agreement with provision of heat or hot water</li>
      </ul>
      <h2 class="govuk-heading-m">
        Optional evidence
      </h2>
      <p>You can provide any other evidence to support your registration.</p>
      {{ meterNumberTemplateReqs | safe }}
      <h2 class="govuk-heading-m">
        Your documents
      </h2>
    
      <p>Your documents must be:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>no more than 10MB</li>
        <li>in .pdf, .jpeg, .png, .doc, .docx, .xls, .xlsx or .csv format</li>
      </ul>
      {% else %}
        <p>Wed need proof that your organisation or business is eligible for this discount.</p>
        {% if data.crn == '12345678' %}
        <h2 class="govuk-heading-m">
          Upload a signed declaration letter
        </h2>
        {{ declarationLetterReqs | safe }}
        {{meterNumberTemplateReqs | safe}}
        <h2 class="govuk-heading-m">
          Your documents
        </h2>
        <p>Your documents must be:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>no more than 10 MB</li>
        </ul>
        {% else %}
        <h2 class="govuk-heading-m">
          Signed declaration letter
        </h2>
        {{ declarationLetterReqs | safe }}
        <h2 class="govuk-heading-m">
          Financial evidence
        </h2>
        <p>You must upload:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your most recent full set of end-of-year accounts – if you do not have these, upload evidence of company accounts over a minimum of 6 months at a minimum</li>
          <li>an income statement referring to the same time period as the end-of-year accounts</li>
          <li>a breakdown schedule which separates activities between eligible and ineligible SIC codes</li>
          <li>a sample of sales invoices and VAT returns</li>
        </ul>
        {{ govukInsetText({
          text: "You should also upload a letter signed by a chartered auditor or accountant, where possible. This should confirm that you are in an eligible sector, and that 50% or more of your sales, services or revenue are in an eligible sector."
        }) }}
        <h2 class="govuk-heading-m">
          Optional evidence
        </h2>
        <p>
          You could also provide any additional evidence that you want to support your registration. This could be:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>licence or trade body membership details for regulated industries</li>
          <li>sales contracts</li>
          <li>remittance advice</li>
          <li>VAT returns</li>
          <li>floor plans that show 50% or more of your activities are in an eligible sector (Local Authorities only)</li>
        </ul>
        {{meterNumberTemplateReqs | safe}}
        {{ multipleDocumentsReqs | safe }}
        {% endif %}
        {% endif %}
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-bottom-3">
    <div class="govuk-grid-column-full">
      <div class="govuk-section-break govuk-section-break--visible"></div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <h2 id="upload-file" class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="evidence">
            Upload a file
          </label>
        </h2>
        <input class="govuk-file-upload" id="evidence" name="evidence" type="file" multiple>
      </div>
      <input type="submit" class="govuk-button govuk-button--secondary" name="upload-multiple" value="Upload">
      {% if data['evidences'] | length > 0 %}
      <h3 class="govuk-heading-s">Uploaded files</h3>
      <ul class="govuk-list">
        {% for file in data['evidences'] %}
        <li>{{ file }} – <a class="govuk-link govuk-link--no-visited-state"
            href="/remove-file?filename={{file}}">Remove<span class="govuk-visually-hidden"> {{ file }}</span></a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  <input class="govuk-button" type="submit" value="Continue" name="continue">
  </div>
  </div>
</form>
{% endblock %}
